@font-face{
    font-family:regularBond;
    src:url(fonts/Roboto/Roboto-Light.ttf);
}

body{
    font-family:regularBond;
}

#contenedorPrincipal{
    position: absolute;
    /*border-style: dashed; */
    /*border-color: black; */
    height: auto;
    width: 90%;
    left: 5%;
}

#divSubIzquierda{
    position: relative;
    /*border-style: dashed; */
    /*border-color: green;  */
}

#divSubDerecha{
    position: absolute;
    top : 0px;
    right : 10%;
    /*border-style: dashed; */
    /*border-color: red;  */
}

#divTablaMarcos{
    position: relative;
    right: 0%;
}

#divTablaConversiones{
    position: relative;
}

#divConversionesBinarias{
    position: absolute;
    border-style: dashed;
    /*border-color : orange;*/
}

#divConversionesHexadecimales{
    position: absolute;
    border-style: dashed;
    /*border-color : pink;*/
    top : 0%;
    right : 40%;
}

#divConversionesDecimales{
    position: absolute;
    border-style: dashed;
    /*border-color : teal;*/
    top : 0%;
    right : 0%;
}

table{
    border-collapse: collapse;   
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }

#tablaPaginas thead{
    background-color: #5c5c5c;
    color: #FFFFFF;
}

.primerDireccion{
    border : solid 1px;
}

.bitConversion{
    color : blue;
}

.noRAM{
    background-color: #ffffff;
}

.botonPagina{
    float: left;
    width: 100%;
    height: 100%;
    background-color:#007e58; 
    box-shadow: 0px 8px 15px rgba(0, 0.1, 0.1, 0.1);
    color:rgb(255, 255, 255);
    font-size:16px;
    border-radius: 5px;
    font-family: regularBond;
    border:2px;
    border-color:#000000;
}

.clase0RM{
    background-color: #264b96;
    color: #FFFFFF;
}

.clase0RM .botonPagina{
    background-color: #264b96;
}

.clase1RM{
    background-color: #006f3c;
    color: #FFFFFF;
}

.clase1RM .botonPagina{
    background-color: #006f3c;
}

.clase2RM{
    background-color: #ecaf2a;
    color: #FFFFFF;
}

.clase2RM .botonPagina{
    background-color: #ecaf2a;
}

.clase3RM{
    background-color: #bf212f;
    color: #FFFFFF;
}

.clase3RM .botonPagina{
    background-color: #bf212f;
}